/*
* app.css
* global css file
*/


/* reset */

@import 'reset.css';


/* variables */

$font-content: 'Meta';
$font-titles: 'Brandon Grotesque';

$brandon: 'Brandon Grotesque';
$metaSerifPro: 'serif';

$color-white: #fefefe;
$color-primary: #8c1329;

$font-size-base: 14px;


/* components */

/*@import 'components/utils';*/
@import 'components/icon.css';
@import 'components/fonts.css';
@import 'components/footer';
@import 'components/header';
@import 'components/button';
@import 'components/cadre';
@import "components/animations";


/* global */

html, body{
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
  font-family: $font-content;
  font-size: $font-size-base;
  color: rgba(#fefefe, 0.7);
  overflow: hidden;
}

#app{
  height: 100%;
  background-image: url("../img/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  position: relative;
  transition-duration: 1s;
  background-image: url('../img/bg_game.png');
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  align-items: center;
}

.page{
  display: none;
  width: 100%;
}

.bg{
  position: absolute;
  z-index: 1;
  left: 0; right: 0; bottom: 0; top: 0;
  background-image: url("../img/cloud.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

a{
  text-decoration: none;
  color: inherit;
  &.continue{
    color:  #888888;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      display: inline-block;
      background-color:  #888888;
      width: 10px; height: 2px;
      left:0; bottom: -10px;
      transition-duration: 0.5s;
    }
    i{
      margin-left: 10px;
    }
    &:hover{
      &:after{
        width: 100%;
      }
    }
  }
}

.page{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Pages */

@import 'page/home';
@import 'page/intro';
@import 'page/configuration';
@import 'page/final';