/**
 * components/button
 * Button style
 */

.btn{
  position: relative;
  text-align: center;
  background-color: transparent;
  margin-top: 50px;
  display: inline-block;
  font-family: $brandon;
  color:  #fff;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  transition-duration: 0.3s;
  cursor: pointer;
  &.disabled{
    color:#868686;
    cursor:not-allowed;
    &:after, &:before{
      background-color: #868686;
      width: 100%;
    }
    &:hover{
      letter-spacing: 0px;
    }
  }
  &.experiment{
    font-size: 1.1em;
    font-weight: 500;
    z-index: 10;
  }
  &:before, &:after{
    transition-duration: 0.3s;
    height: 2px; width: 30%;
    content: "";
    background-color: $color-primary;
    position: absolute;
    top: 45%;
    z-index: 5;
  }
  &:before{
    left:-50%;
  }
  &:after{
    right:-50%;
  }
  &:hover{
    letter-spacing: 0.3em;
    &:after, &:before{
      width: 100%;
    }
  }
  &.experiment-old{
    background-color: transparent;
    padding: 40px 50px;
    color:  #ffffff;
    font-size: 22px;
    font-weight: 300;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    &:before{
      content: "";
      z-index: 8;
      display: inline-block;
      position: absolute;
      left: -8px; top: -4px;
      height: 100%; width: 100%;
      border: 1px solid rgba(#fff, 0.5);
    }
  }
}