/**
 * components/icon
 * Icon style
 */

i{
  display: inline-block;
  &.pin{
    background-image: url("../img/fa-map-marker.png");
    width: 11px; height: 16px;
    background-size: cover;
    vertical-align: middle;
  }
}