<!-- Container -->
<div class="page-clue">
	<div class="page-clue-container">
		
		<!-- Text -->
		<div class="clue-text">
			<h2>Deborah Ann Woll</h2>
			<h1>Karen Page</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit in expedita illum, repellendus nostrum explicabo quibusdam, minus fugiat dolorem minima laborum ipsam necessitatibus! Optio qui similique aperiam, eveniet reiciendis et?</p>
			<a href="#" class="btn">Continuer</a>
		</div>

		<!-- Photo -->
		<figure class="clue-photo">
			<img src="../img/characters/indice-1.png" alt="">
		</figure>

	</div>
</div>