<div class="final-content">
  <h2>Remaining time before season 2</h2>
  <div class="countdown">
    <div class="days">
      <span>0</span>
      <span>0</span>
      <span>0</span>
    </div>
    <div class="hours">
      <span>0</span><span>0</span>
    </div>
    <div class="minutes">
      <span>0</span><span>0</span>
    </div>
    <div class="seconds">
      <span>0</span><span>0</span>
    </div>
  </div>
</div>