<!-- CONTENT -->
<div class="home-content">
	<img src="img/logo.png" alt="" class="logo-home">
	<p>Incarnez le personnage de Daredevil au travers d'une expérience immersive incroyable.</p>
	<a href="/intro" class="btn experiment">start the experiment</a>
</div>

<!-- FOOTER -->
<footer class="home-footer">
	<img src="img/warning.png" alt="Warning">
	<p>Pour une expérience optimale, il est recommandé d'utiliser un casque audio de qualité.</p>
</footer>