<header class="top">
  <div class="logo">
    <h2>Daredevil - The Experiment</h2>
  </div>
  
  <div class="street">
    <i class="pin"></i>
    <span>26th - New York</span>
  </div>
</header>

<div class="cadre-content">
  <h3>The experiment</h3>
  <h2>Allow <span>webcam</span></h2>
  <div class="valid-left"></div>
  <div class="valid-center"></div>
  <div class="valid-right"></div>
  <p class="text">
    To continue the experiment allow the webcam
  </p>
  <div id="continue-webcam" class="btn disabled">continue</div>
</div>