.page-final{


&.show{
  display: block;
  animation: FadeIn 3s ease;
  animation-fill-mode: both;
}

.final-content{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.countdown{
  display: flex;
  align-items: center;
  justify-content:center;
  .days,.hours,.minutes,.seconds{
    margin: 0 10px;
  }
  span{
    font-family: BrandonGrotesque;
    color:  #ffffff;
    font-size: 72px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    padding: 10px 15px;
    border:1px solid #fff;
  }
}

}