/**
 * page/home
 * style for the intro route
 */


/* base */

.page-home, .page-win{
  background-color: #000000;
  background-image:url(../img/background.jpg);
  background-size: cover;
  background-position: 50% 0px;

  .home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: calc(50% - 275px);
    height: calc(100% - 4em);
    text-align: center;
    width: 550px;
    margin: 0 auto;
    text-align: center;
    
    img.logo-home{
      display: inline-block;
      width: auto;
      height: 50%;
      max-height: 450px;
      margin-bottom: -2em;
    }
    
    p{
      font-family: $font-content, serif;
      font-size: 1.1em;
      letter-spacing: 0.05em;
      font-weight: 500;
      color: rgba(#fefefe, 0.8);
      line-height: 2;
      text-align: center;
      margin-bottom: 0em;
    }

    .btn{ margin-top: 3em; }

  }

  .home-footer{
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
    padding-bottom: 1em;
    font-family: $font-titles;
    transition: transform 0.3s ease;

    &:hover{ transform: translate3d(0, -0.3em, 0); }

    p{
      font-size: 1.15em;
      font-weight: 400;
      color: rgba(#fefefe, 0.5);
      margin-top: 0.3em;
    }
  }

}


/* animations */

.page-home{ display: none; }

.page-home.show{
  display: block;
  animation: FadeIn 4s ease;
  animation-fill-mode: both;

  .home-content{
    img, p, a{ 
      animation: SlideInDownSmall 1.5s ease;
      animation-delay: 1.6s;
      animation-fill-mode: both; 
    }
    p{ animation-delay: 1.45s; }
    a{ animation-delay: 1.3s; }
  }

  .home-footer{
    animation: SlideInUpSmall 1.5s ease;
    animation-delay: 3s;
    animation-fill-mode: backwards;
  }
}

.page-home.hide{
  display: block;
  animation: FadeOut 3s ease;
  animation-fill-mode: both;

  .home-content{
    img, p, a{ 
      animation: SlideOutDownSmall 1s ease;
      animation-delay: 0.3s;
      animation-fill-mode: both; 
    }
    p{ animation-delay: 0.4s; }
    a{ animation-delay: 0.5s; }
  }

  .home-footer{
    animation: FadeOut 1s ease;
    animation-fill-mode: both;
  }
}