/*
* page/intro
* 
*/


/* Base */

.page-intro{
  
  .video-intro{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto; height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
  }

  .skip-btn{
    display: block;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    font-family: $font-titles;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(#000000, 0.3);
    letter-spacing: 0.1em;
    transition: letter-spacing 0.3s ease;
    padding: 2em;
    animation: Blink 2s ease;
    animation-iteration-count: infinite;
    animation-fill-mode: both;

    &:hover{ letter-spacing: 0.2em; }
  }
}


/* Animations */

.page.page-intro{ display: none; }

.page.page-intro.show{
  display: block;
  animation: FadeIn 3s ease;
  animation-fill-mode: both;
}

.page.page-intro.hide{
  display: block;
  animation: FadeOut 3s ease;
  animation-fill-mode: both;
}

